/*--------------------------------------------Colours */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --modal-color: lightblue;
    --rules-button-color:  lightblue;
    --rules-modal-button-color: green;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
  }
  
  .night-theme {
    --background-color: #000000;
    --text-color: #ffffff;
    --modal-color: green;
    --rules-button-color: green;
    --rules-modal-button-color: lightblue;
  }

  /*--------------------------------------------Fonts */
  
  #brand-header {
    text-transform: uppercase;
  }
/*---------------------------------------------Header */

.brand-nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-left: 45vw;
}



#moon-toggle {
    width: 50px;
    cursor: pointer;
    
}

/*---------------------------------------------Button */

.button-style {
    font-weight: bolder;
    text-transform: uppercase;
    background: var(--rules-button-color);
    border: 1px solid black;
    color: var(--text-color);
}

.modal-button-style {
    font-weight: bolder;
    text-transform: uppercase;
    background: var(--rules-modal-button-color);
    border: 1px solid black;
    border-radius: 5px;
    color: var(--text-color);
}

/*---------------------------------------------Rules Modal */

.rules-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 10;
  background: var(--modal-color);
  color: var(--text-color);
  width: 380px;
  max-width: 80%;
}


.rules-active {
  transform: translate(-50%, -50%) scale(1);
}

.rules-header {
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

.rules-header .rules-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.rules-body {
  padding: 10px 15px;
  text-align: center;
}

.rules-body .close-rules {
  padding: 10px 15px 15px 10px;
}

/*---------------------------------------------Contact Modal */

.contact-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 10;
  background: var(--modal-color);
  color: var(--text-color);
  width: 500px;
  max-width: 80%;
}

.contact-active {
  transform: translate(-50%, -50%) scale(1);
}

.contact-header {
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid black;
}

.contact-header .contact-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.contact-body {
  padding: 10px 15px;
}

.contact-body .close-contact {
  padding: 10px 15px 15px 10px;
  text-align: center;
}

/*---------------------------------------------Submit Modal */
.submit-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 10;
  background: var(--modal-color);
  color: var(--text-color);
  width: 500px;
  max-width: 80%;
}

.submit-active {
  transform: translate(-50%, -50%) scale(1);
}

.submit-header {
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid black;
}

.submit-header .submit-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.submit-body {
  padding: 10px 15px;
  text-align: center;
}

.submit-body .submit-contact {
  padding: 10px 15px 15px 10px;
  text-align: center;
}


/*---------------------------------------------Game */
.grid-container-button {
  display: grid;
  justify-content: right;
  grid-gap: 16px;
  grid-template-columns: repeat(1, 180px);
  grid-template-rows: repeat(3, calc(30px / 2 * 3));
  margin-right: 2vw;
  margin-top: 40vh;
}